body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .link-outline-white{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 8px 20px;
    transition: all 0.5s;
  }
  .link-outline-white:hover{
    transition: all 0.5s;
    background-color: white;
    color: #000;
  }
  .card-grey{
    background-color: rgb(52, 58, 64);
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.5s;
  }
  .card-grey span{
    margin-right: 10px;
  }
  .card-grey span.border-grey{
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 0.8rem;
    padding: 5px;
  }
  .card-grey .icon-small{
    fill: #cccacc !important;
  }
  .card-grey:hover{
    transition: all 0.5s;
    background-color: rgb(71, 77, 83);
  }
  .card-grey h4{
    margin: 0;
    font-size: 1rem;
  }
  .card-grey h3{
    font-size: 1.4rem;
    font-weight: 700;
    margin: 10px 0;
  }
  .bg-grey-dark a{
    text-decoration: none;
    color: #ccc;
  }
  .bg-grey-dark h5{
   color: #ccc;
   font-weight: 700; 
   font-size: 0.8rem;
  }
  .bg-grey-dark{
    padding: 20px 10px;
  }
  .bg-grey{
    background-color: #ccc;
    padding: 20px 10px;
  }
  .bg-grey h3{
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
  }
  .bg-white h2{
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
  }
  .bg-white button{
    background-color: #fff;
    text-align: start;
  }
  .bg-white .img-qr{
    height: 150px;
    margin-bottom: 20px;
  }
  .bg-white .img-big{
    height: 400px;
  }
  .bg-white{
    padding: 2em 0;
  }
  .card-white{
    padding: 15px 25px;
  }
  .card-white h5{
    font-size: 1rem;
    font-weight: 700;
  }
  .card-white p, li{
    font-size: 0.9rem;
    margin-top: 10px;
    font-weight: 400;
  }
  .card-white:hover{
    background-color: #6666663b;
  }
  .border-grey{
    border: 1px solid #ccc;
  }

  /* Header estilo Adidas */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: #000;
    color: #fff;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: white;
  }

  .user-icon {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }

  /* Overlay oscuro al abrir el panel */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
  }

  .overlay.active {
    display: block;
  }

  /* Panel deslizante */
  .side-panel {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: #fff;
    box-shadow: -3px 0 6px rgba(0,0,0,0.2);
    transition: right 0.4s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }
  .side-panel-left{
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: #212529;
    box-shadow: -3px 0 6px rgba(0,0,0,0.2);
    transition: left 0.4s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }
  .side-panel-left.open{
    left: 0;
  }
  .side-panel.open {
    right: 0;
  }

  .close-btn {
    background: none;
    border: none;
    font-size: 26px;
    float: right;
    cursor: pointer;
  }

  .side-panel a {
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: block;
    margin: 20px 0;
  }

  .side-panel a:hover {
    color: #666;
  }
  .accordion-item{
    border: none;
    background-color: rgb(52, 58, 64); 
  }
  .accordion-button{
    border: none;
    box-shadow: none;
  }
  .accordion-body{
    padding: 0;
    background-color: rgb(52, 58, 64); 
  }
  .accordion-body ul{
    padding: 0;
  }
  .accordion-body li{
    padding: 10px;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid rgb(41, 41, 41);
    transition: all 0.5s;
  }
  .accordion-body ul li:hover{
    transition: all 0.5s;
    background-color: rgb(71, 77, 83);
  }
  .accordion-body li a{
    color: #ccc;
    padding: 10px;
  }
  .accordion-button:not(.collapsed) {
    color: white;
    background-color: rgb(52, 58, 64); 
    box-shadow: none;
  }
  .accordion-button:focus {
   box-shadow: none;
}